<div style="margin:5px">
    <form action="/admin/quanlynguoidung/ketquatimkiem" method="get"> 
        <input style="width:250px; height: 17px" id="coban" type="text" onblur="if(this.value=='') this.value=this.defaultValue" onfocus="if(this.value==this.defaultValue) this.value=''" value="Nhập tên truy cập hoặc họ tên..." name="chuoitk" autocomplete="off" size="36" />
        <input style="width:40px; height: 26px" type="submit" name="tkcoban" value="Tìm" />
    </form>
</div> 
        
