@{
    ViewBag.Title = "Cửa hàng";
}
<div class="covercenter">
<div class="columncenter">
     <div>
        <div class="header-center">CỬA HÀNG</div>   
        <div class="noidunggiua">
          <div align="center"><img src="@Url.Content("~/Image/quan7.jpg")"/></div>
        </div>
            <div class="noidungchinh">
              <div align="center">
                <p><a href="#">Trụ sở chính: 1 Nguyễn Văn Linh, Phường Tân Phong, Quận 7, TP.HCM</a></p>
                <p><br /></p>
              </div>
            </div>
        <div class="noidunggiua">
          <div align="center"><img src="@Url.Content("~/Image/quan5.jpg")"/></div>
        </div>
            <div class="noidungchinh">
              <div align="center">
                <p><a href="#">Cửa hàng: 273, An Dương Vương, Phường 3, Quận 5, TP.HCM</a></p>
                <p><br /></p>
              </div>
        </div>
         <div class="noidunggiua">
          <div align="center"><img src="@Url.Content("~/Image/tanbinh.jpg")" height="385" width="500"/></div>
        </div>
            <div class="noidungchinh">
              <div align="center"><a href="#">Chi nhánh: 550, Trường Chinh, Phường 12, Quận Tân Bình, TP.HCM</a></div>
        </div>
   	  </div>
    </div>
    </div>