@{
    ViewBag.Title = "Giới thiệu";
}
<div class="covercenter">
<div class="columncenter">
    <div class="header-center">GIỚI THIỆU</div>
   		  		<!--<div class="text" style="border-right:10px; border-left:10px; border-bottom:20px;">-->
    <div class="noidunggiua">
        <div class="noidungphu">
            <p><h3><i>* Lời ngỏ</i></h3></p>
        </div>
        <div class="noidungphu">
            <p><b>DEW</b> xin kính chào quý khách!</p>
        </div>
        <div class="noidungphu">
            <p><b>DEW</b> được thành lập vào tháng 09/2014 với lĩnh vực hoạt động chính là chế tác và xuất khẩu các loại trang sức vàng, bạc, đá quý...</p>
        </div>
        <div class="noidungphu">
            <p>Cùng với đà phát triển của xã hội, con người ngày càng hướng tới vẻ đẹp hoàn mỹ. <b>DEW</b> với phương châm mỗi sản phẩm là một niềm tự hào, chúng tôi luôn cho rằng lợi ích của khách hàng là lợi ích của doanh nghiệp. Chúng tôi luôn đề cao uy tín, chất lượng và sự sáng tạo lên hàng đầu với đội ngũ nhân sự giỏi lý thuyết, vững tay nghề, coi trọng đạo đức nghề nghiệp, tích cực sáng tạo và không ngừng trau dồi kỹ thuật.<br /><br />
Vì lợi ích của quý khách hàng là lợi ích của chúng tôi, chúng tôi cam kết tuyệt đối sử dụng các nguồn nguyên liệu có nguồn gốc xuất xứ rõ ràng, các sản phẩm đều được bảo hành, đồng thời chúng tôi luôn hướng dẫn và tư vấn cho khách hàng một cách chu đáo và tận tình về sản phẩm và cách bảo quản để giữ được độ bền đẹp lâu nhất. <br /><br />
Ngoài ra, chúng tôi còn nhận làm các đơn hàng theo catalogue hoặc thiết kế riêng theo mẫu của quý khách hàng.
Hiện nay, do nhu cầu mở rộng thị trường trong và ngoài nước, chúng tôi, <b>DEW</b>, rất muốn hợp tác với quý khách hàng, quý shop và quý doanh nghiệp trong và ngoài nước để phân phối các mặt hàng trang sức mang thương hiệu <b>DEW</b>.<BR /><BR />
<b>DEW</b> xin chân thành cảm ơn quý khách hàng!</p>
        </div>    
    </div>
</div>
</div>
