@{
    ViewBag.Title = "Tuyển dụng";
}
<div class="covercenter">
<div class="columncenter">
        <div class="header-center">TUYỂN DỤNG</div>   
      	<div class="noidunggiua">
 			<div class="noidungphu">
            	<p>Hơn 2 năm hình thành và phát triển, trở thành thương hiệu hàng đầu Việt   Nam và đang vươn tầm ra quốc tế, chúng tôi luôn hiểu rằng con người là   yếu tố quyết định đối với sự thành công và phát triển của Công ty.</p>
          </div>
            <div class="noidungphu">
            	<p>Với hệ thống gần 10 cửa hàng trên toàn quốc và đội ngũ hơn 250 nhân   viên, chúng tôi vẫn đang tiếp tục phát triển lớn mạnh và tạo cơ hội cho   tất cả những ai có khát vọng vươn lên.</p>
       	  </div>
            <div class="noidungphu">
            	<p>Tại DEW, sự nghiệp của các bạn sẽ được phát triển cùng với sự lớn mạnh không ngừng của chúng tôi.</p>
       	  </div>
            <div class="noidungphu">
            	<p>Chúng tôi đang tuyển dụng các chức vụ sau đây:</p>
          	</div>
          <div class="noidungphu">
				<table align="center" bgcolor="#FFFFFF" bordercolor="#000000" border="1">
                	<tr>
                    	<td align="center" width="150"><span class="style3">Vị trí tuyển dụng</span></td>
                      <td align="center" width="85"><span class="style3">Sống lượng</span></td>
                      <td align="center" width="135"><span class="style3">Nơi làm việc</span></td>
                      <td align="center" width="125"><span class="style3">Ngày hết hạn</span></td>
                  </tr>
                  <tr>
                      <td align="center" width="160">Nhân viên bán hàng</td>
                      <td align="center" width="85">50</td>
                      <td align="center" width="135">Quận 5, Quận Tân Bình<br />
                    (TP. Hồ Chí Minh)</td>
                    <td align="center" width="115">31/7/2015</td>
                  </tr>
                  <tr>
                      <td align="center" width="160">Trợ lý Giám đốc Xuất nhập khẩu</td>
                      <td align="center" width="85">01</td>
                      <td align="center" width="135">Quận 7<br />(TP. Hồ Chí Minh)</td>
                      <td align="center" width="115">31/7/2015</td>
                  </tr>
                  <tr>
                      <td align="center" width="160">Nhân viên Quan hệ Công chúng (NV PR)</td>
                      <td align="center" width="85">02</td>
                      <td align="center" width="135">Quận 5, Quận 7<br />
                        (TP. Hồ Chí Minh)</td>
                      <td align="center" width="115">31/7/2015</td>
                  </tr>
                  <tr>
                      <td align="center" width="160">Kế toán</td>
                      <td align="center" width="85">02</td>
                      <td align="center" width="135">Quận 5, Quận 7<br />
                        (TP. Hồ Chí Minh)</td>
                      <td align="center" width="115">31/7/2015</td>
                  </tr>
                </table>
          	</div>
        </div>    
    </div>
    </div>

